@tailwind base;
@tailwind components;
@tailwind utilities;

[type="date"]:focus
{
    box-shadow: none;
    outline-offset:0px ;
    border-color: white ;
}

.focus\:outline-blue-400:focus {
    outline-color: none;
  }